@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Muli-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #fff;
  font-family: 'Muli Regular';
}

.app {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

.content {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.25);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 2px;
  text-align: center;
  flex-direction: column;
}

.logo {
  max-width: 250px;
  height: auto;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .content {
    width: 80%;
  }
}